{% extends 'base.html.twig' %}

{% block title %}О Магазине!{% endblock %}

{% block body %}
    <h1>О Магазине</h1>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto assumenda earum impedit nemo quia quidem, rem tempora! Aliquid eum excepturi minima pariatur perferendis quod temporibus veritatis. Explicabo, quae tenetur.</span><span>Amet aperiam, beatae delectus neque repellendus suscipit vero voluptates. Aliquam aliquid assumenda atque consequatur cum debitis ducimus ea enim esse laborum, maxime neque nesciunt nisi non nostrum tempore voluptatem! Temporibus!</span><span>Blanditiis dolore doloribus eligendi esse facilis labore nesciunt sint vero, vitae voluptate. Dolorum explicabo possimus voluptates? Aliquid deleniti enim ipsum nostrum optio quo similique unde voluptas! Accusamus consequuntur iusto similique?</span><span>Asperiores eligendi explicabo laudantium libero magnam nam sint sit ut vero voluptate! Ab at beatae facere fugit nostrum omnis porro qui. Ducimus illo magnam nulla quis repellat repudiandae sapiente voluptas?</span><span>A alias cum id labore laborum nam necessitatibus quia voluptatem voluptates! Dolor enim inventore provident veritatis vitae! Aliquid dicta molestiae possimus quidem sint! Eaque laborum libero nemo non officiis repellendus.</span></p>


{% endblock %}
