{% extends 'base.html.twig' %}

{% block title %} Последние поступления!{% endblock %}

{% block body %}

        <div class="row">
                {{ include('products/_productsLIst.html.twig', {'products': products}) }}
        </div>

{% endblock %}
