{% extends 'base.html.twig' %}

{% block title %}
    {{ category.name }}
{% endblock %}

{% block body %}

    <div class="row">
       {{ include('products/_productsLIst.html.twig', {'products': category.products}) }}
    </div>
{% endblock %}


