{% extends 'base.html.twig' %}

{% block title %}
    Оплата заказа № {{ order.id }}
{% endblock %}

{% block body %}
    <h1>Оплата заказа № {{ order.id }}</h1>
    <p>Сумма: {{ order.amount|money }}</p>
    {{ payment_form|raw }}
{% endblock %}


