{% extends 'base.html.twig' %}

{% block title %}Контакты{% endblock %}

{% block body %}
    <h1>Форма обратной связи</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
